body {
    height: 100%;
}

img {
    width: 20px;
    height: auto;
    margin-right: 5px;
    align-self: center;
}

h3 {
    margin: 0;
}

.icons img {
    margin-left: 10px;
}

.card {
    height: 180px;
    width: 360px;
    background-color: white;
    margin-top: 2px;
    place-items: center;
    margin: 10px;
    padding: 10px;
    justify-self: center;
    border-radius: 6px;
    display: grid;
    grid-template-rows: 90% 10%;
    box-shadow: -8px 0px 0px 0px orange;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    grid-template-rows: 2fr 8fr;
}

.icons {
    justify-self: flex-end;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: rgba(0, 162, 255, 0.78);
    color: white;
}

.header {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 30% 70%;
}

.projects {
    background-color: #E5E5E5;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    padding: 16px;

}

.projects h3 {
    margin-left: 2%;
    grid-row: 1 / 2;
    grid-column: 1 / 3
}

.content {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
    align-self: flex-end;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.card-text {
    align-self: flex-start;
}

.content-sidebar {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background-color: #E5E5E5;
    padding-right: 16px;
}

.content-sidebar h3 {
    margin: 8px 0px;
}

.announcements, .trending {
    background-color: white;
    border-radius: 6px;
    padding: 8px;
    margin-right: 20px;
}

.announcements div {
    padding: 8px;
}

.sidebar-top {
    margin-bottom: 30px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 24px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sidebar-header {
    display: flex;
    gap: 4px;
    align-items: center;
}

.sidebar-top img {
    width: 30px;
    height: auto;
}

.sidebar-middle {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sidebar-bottom {
    font-weight: 600;
    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sidebar-top div, .sidebar-middle div, .sidebar-bottom div {
    padding: 8px;
    margin-left: 4px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.top-header {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 2% 60% 38%;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.top-header p {
    align-self: center;
}

.top-header img {
    grid-column: 1 / 2;
}

.top-header input {
    border-radius: 8px;
    grid-column: 2 / 3;
    margin-left: 10px;
    background-color: #E5E5E5;
    height: 16px;
    align-self: center;
}

.top-header-right {
    margin-right: 40px;
    justify-self: flex-end;
    grid-column: 3 / 4;
    font-size: 20px;
    font-weight: 500;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    gap: 20px;

}

.alien-small {
    width: 40px;
    height: auto;
}



.bottom-header {
    display: grid;
    grid-template-columns: 4% 48% 48%;
    margin-left: 40px;
}

.bottom-header img {
    justify-self: flex-end;
    align-self: center;
    grid-column: 1 / 2;
    width: 60px;
    height: auto;
}

.bottom-header .greeting {
    align-self: center;
    grid-column: 2 / 3;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    margin-left: 20px;
}

.greeting h2 {
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bottom-header .buttons {
    align-self: center;
    justify-self: flex-end;
    margin-right: 40px;
    grid-column: 3 / 4;
}

.buttons button {
    margin-left: 20px;
    border-radius: 16px;
    background-color: rgba(0, 162, 255, 0.78);
    color: white;
    padding: 8px;
    width: 100px;
    font-weight: 700;
    font-size: 16px;
    border: none;
}

.trending {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 15px 10px;
}

.trending .left {
    grid-column: 1 / 2;
    align-self: center;
    justify-self: center;
}

.left img {
    width: 40px;
    height: auto;
}

.trending .right {
    grid-column: 2 / 3;
    align-self: center;
}
